include ./mixins/mixins.pug

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/tachyons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="bg-washed-yellow __debug")
    main(class='fl w-100')
      //- include top-header1
      header(class="avenir")
        block header
      
      block content
      
      footer(class="bg-dark-gray light-gray fl w-100 pa2")
        include footer1