extends layout1

block header
  +showHeader(menuLinks, activeMenu,
    '',
    'Search for your Premium Domains Names'
  )

block content
    
block footer-container
  h3= "i am in footer sell Domains"