div(class="mw9 center ph3-ns bg-near-black")
  div(class="cf ph2-ns")
    div(class="fl w-50 w-third-ns pa2")
      a(class="link hover-bg-orange white pa2" href="https://www.facebook.com/InternetBrokerCOM" target="_BLANK") Facebook

    div(class="fl w-50 w-two-thirds-ns pa2 tr")
      a(class="link hover-bg-orange white pa2 ph3" href="login") Login
      a(class="link hover-bg-orange white pa2 ph3" href="register") Register
    
  //- div(class="fl w-third pa2")
  //- div(class="fl w-two-thirds pa2")
  //- 